page-home,
.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }
  }
	  
  ion-card img {
	display: block;
	width: 5%;
  }
	
  .toolbar-background {
	background-color: #ff4040;
  }

  .toolbar-title  {
	color: white;
	text-align: center;
	font-style: italic;
	  
	.subtitle {
      font-style: normal;
    }
	  
	.footerContent {
	  text-align: left;
	  font-size: 18px;
	  font-style: normal;
	}
  }
	
}
