page-store-detail,
.store-detail {
	
	.toolbar-background {
		background-color: #ff4040;
	}

	.feed_post_photo_img {
		max-width: 200px;
	}

	.col {
		max-width: 50%;
	}

	.common-bg,
	.item  {
		background-color: transparent !important;
	}

}
